<%=link_to tag_path(tag_pill_tw_interactions), class: 'btn btn-primary mx-1 my-1' do %>
<%=tag_pill_tw_interactions.name%> 
<span class="badge bg-secondary"><i class="fa-brands fa-square-twitter"></i> <%=tag_pill_tw_interactions.interactions%></span>
<%end%>
