<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900">Los medios que mas han mencionado esta etiqueta fueron:</h2>
  <ul role="list" class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <% sites.each do |site_id, count| %>
      <% site = Site.find_by(id: site_id) %>
      <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
        <div class="flex w-full items-center justify-between space-x-6 p-6">
          <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
              <h3 class="truncate text-sm font-medium text-gray-900"><%= site.name %></h3>
            </div>
            <p class="mt-1 truncate text-sm text-gray-500"><%= count %> publicaciones</p>
          </div>
          <% if site.page && site.page.picture.present? %>
            <%= image_tag site.page.picture, class: 'h-10 w-10 flex-shrink-0 rounded-full bg-gray-300' %>
          <% else %>
            <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300" src="https://placehold.co/300x300" alt="">
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
